#root{

  height: 100vh;
  width: 100%;
  
 
}

/* Register */
.register-card{
  width: 30%;
  height: 60% !important;
  
}

/* Log in */

.login-titles{
  margin: 20px;
}

.login-card{
  width: 30%;
  height: 40% !important;
  
}

.login-password{
  display: flex;
  justify-content: center;
  justify-items: center;
}


.login-card-form{
  width: 100%;
  height: 100% !important;
  background-color: #e5e5e5;
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  flex-direction: column;
  
}






/* Card css */
.card-hover{
  position: absolute;
  margin-top: 40px;
  height: 350px !important;
  width: 224px !important;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.card-hover:hover{
 color: inherit;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
  transition: box-shadow 0.5s ease, transform 0.5s ease;
  text-decoration: none;

}

.card-body{
  color: #f5f5f5;
  transition: background-color 1s ease;
}


/*Profile */

.profile-name{
  background-color: #f5f5f5;
  width: 35%;
  height: 80px;
  margin-bottom: 24px;
  border-radius: 5px;
}

.profile-name-inner{
  background-color: #f5f5f5;
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}

.profile-name-inner h2{
  padding-left: 24px;
}

.profile-name-inner svg{
  height: 50%;
}

.profile-path{
  background-color: #f5f5f5;
  width: 35%;
  height: 450px;
  border-radius: 5px;
}

.profile-path-inner{
  height: 100%;
  max-width: 90% ;
  margin: auto;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  flex-direction: column;
}

.profile-data{
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 25%;
  
}


